# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Git
.git/
.gitignore

# Dataset
dataset/raw/
dataset/images/
dataset/labels/

# Not needed in production
notebooks/
tests/

# Training outputs
runs/
*.log

# Temporary files
*.tmp
*.temp

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store